/* Header.module.css */
.header {
  background-color: #413C58;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAD0C9;
  font-size: 25px;
  font-weight: bold;
}