.prototypes {
  width: 78%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #f2dda4;
  border-radius: 15px;
}
.prototype {
  background-color: rgba(256, 256, 256, 0.1);
  box-shadow: 2px 4px 5px rgb(97, 97, 97);
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.prototype:hover {
  background-color: #fad0c9;
  color: #333;
}
.detail {
  width: 120px;
  height: 240px;
}
.detail:hover {
  cursor: pointer;
}
.img {
  width: 100px;
  height: 140px;
}
.title {
  margin: 5px 0 3px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
}
.author_publisher {
  font-size: 11px;
}
.price {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
}
.plus_btn {
  background-color: rgb(190, 190, 190);
  border-radius: 6px;
  border: 0;
  font-size: 8px;
  margin-left: 4px;
  width: 20px;
  height: 20px;
}
.plus_btn:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}
